<div id="mapid"></div>
<form>
  <input type="text" name="zipcode" ng-model="leaflet.zipcode">
  <input type="submit" value="Convert ZIP to LatLng" ng-click="leaflet.getLatLon()">
  <br />
  <input type="text" name="latitude" ng-model="leaflet.location.lat">
  <input type="text" name="longitude" ng-model="leaflet.location.lng">
  <input type="submit" value="Pan" ng-click="leaflet.panMap()">
  <input type="submit" value="Circle" ng-click="leaflet.circleMap()">
  <input type="submit" value="Mark" ng-click="leaflet.markMap()">
  <br />
  <input type="submit" value="Get Breweries" ng-click="leaflet.getBreweries()">
</form>
